<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.mapper.UserMapper">
    <select id="findByUid" resultType="com.xhu.enity.Accont">
        select * from shixun.account where uid=#{uid}
    </select>

    <select id="findUserByUid" resultType="com.xhu.enity.User">
        select * from shixun.useraccount where uid=#{uid}
    </select>
</mapper>